<div class="social-link px-4 md:px-16 lg:px-32 2xl:px-48 flex justify-center gap-4 py-4 bg-logo">
  <%= link_to "https://www.facebook.com/djenson.jean", target: "_blank" do %>
    <%= image_tag "facebook.svg", class: "w-6 h-6 hover:animate-spin" %>
  <% end %>
  <%= link_to "https://twitter.com/djensonjean", target: "_blank" do %>
    <%= image_tag "twitter.svg", class: "w-6 h-6 hover:animate-spin" %>
  <% end %>
  <%= link_to "https://www.instagram.com/djensonjean/", target: "_blank" do %>
    <%= image_tag "instagram.svg", class: "w-6 h-6 hover:animate-spin" %>
  <% end %>
  <%= link_to "https://www.linkedin.com/in/djenson-jean-1b1b1b1b1/", target: "_blank" do %>
    <%= image_tag "linkedin.svg", class: "w-6 h-6 hover:animate-spin" %>
  <% end %>
  <%= link_to "https://www.wa.me/50938700000", target: "_blank" do %>
    <%= image_tag "whatsapp.svg", class: "w-6 h-6 hover:animate-spin" %>
  <% end %>
</div>
<div id="contact" class="px-4 md:px-16 lg:px-32 2xl:px-48 py-8 md:pt-32">
</div>
<div id="footer" class="px-4 md:px-16 lg:px-32 2xl:px-48 py-8 md:pt-32 bg-secondary">

</div>
