<span class="social-link px-4 md:px-16 lg:px-32 2xl:px-48 hidden md:flex justify-center gap-8 py-2 bg-gradient-to-r from-cyan-500 to-blue-500">
  <%= link_to "https://www.facebook.com/djenson.jean", target: "_blank" do %>
    <%= image_tag "facebook.svg", class: "w-6 h-6 hover:animate-spin" %>
  <% end %>
  <%= link_to "https://twitter.com/djensonjean", target: "_blank" do %>
    <%= image_tag "twitter.svg", class: "w-6 h-6 hover:animate-spin" %>
  <% end %>
  <%= link_to "https://www.instagram.com/djensonjean/", target: "_blank" do %>
    <%= image_tag "instagram.svg", class: "w-6 h-6 hover:animate-spin" %>
  <% end %>
  <%= link_to "https://www.linkedin.com/in/djenson-jean-1b1b1b1b1/", target: "_blank" do %>
    <%= image_tag "linkedin.svg", class: "w-6 h-6 hover:animate-spin" %>
  <% end %>
  <%= link_to "https://www.wa.me/50938700000", target: "_blank" do %>
    <%= image_tag "whatsapp.svg", class: "w-6 h-6 hover:animate-spin" %>
  <% end %>
</span>
<div id="contact" class="flex flex-col justify-between items-center px-4 md:px-16 lg:px-32 2xl:px-48 py-4 md:py-8 lg:py-12 bg-secondary">
  <div class="flex flex-col justify-center items-center mb-6 md:mb-8">
    <span class="bar bg-primary w-32 h-1 mt-2"></span>
  </div>
  <div class="w-full md:flex justify-between pt-16 gap-16">
    <div class="w-1/2 hidden">
      <span class="text-xl md:text-2xl lg:text-4xl font-bold text-white whitespace-nowrap"><span class="text-logo">L</span>e <span class="text-logo">D</span>jen</span>
      <h1 class="font-bold text-8xl mt-6 text-white">N'hesitez <br />pas à me<br /> contacter</h1>
    </div>
    <%= render "contacts/new" %>
  </div>
</div>
