<div id="contact" class="flex flex-col md:flex-row justify-between px-4 md:px-16 lg:px-32 2xl:px-48 py-4 md:py-8 lg:py-12 gap-8 bg-black">
  <span class="w-full md:w-3/3 font-extrabold md:font-bold text-transparent bg-clip-text bg-gradient-to-r from-blue-500 to-logo text-5xl md:text-6xl lg:text-8xl">
    Envoyer un message.
    <h1 class="text-2xl uppercase mt-6 font-light text-gray-200 hidden md:block">Je vous répondrai dans les plus brefs délais.</h1>
  </span>
  <%= render "contacts/new" %>
</div>
<div class="social-link px-4 md:px-16 lg:px-32 2xl:px-48 flex flex-col md:flex-row justify-between items-center gap-4 py-2 md:py-4  bg-black md:bg-title">
  <%= link_to "#home", :class => "link mt-12 md:mt-0" do %>
    <h1 class="text-xl font-bold text-white whitespace-nowrap"><span class="text-logo">L</span>e <span class="text-logo">D</span>jen</h1>
  <% end %>
  <span class="flex justify-center items-center gap-8">
    <%= link_to "https://www.facebook.com/djenson.jean", target: "_blank" do %>
    <%= image_tag "facebook.svg", class: "w-6 h-6 hover:animate-spin" %>
    <% end %>
    <%= link_to "https://twitter.com/djensonjean", target: "_blank" do %>
      <%= image_tag "twitter.svg", class: "w-6 h-6 hover:animate-spin" %>
    <% end %>
    <%= link_to "https://www.instagram.com/djensonjean/", target: "_blank" do %>
      <%= image_tag "instagram.svg", class: "w-6 h-6 hover:animate-spin" %>
    <% end %>
    <%= link_to "https://www.linkedin.com/in/djenson-jean-1b1b1b1b1/", target: "_blank" do %>
      <%= image_tag "linkedin.svg", class: "w-6 h-6 hover:animate-spin" %>
    <% end %>
    <%= link_to "https://www.wa.me/50938700000", target: "_blank" do %>
      <%= image_tag "whatsapp.svg", class: "w-6 h-6 hover:animate-spin" %>
    <% end %>
  </span>
  <span class="flex justify-center items-center gap-4 mt-4 mb-6 text-white">
    <p>made with ❤️ by</p>
    <p>
      <%= link_to "https://www.mstanle.me", target: "_blank", :class => "pb-8" do %>
        <%= image_tag "icon.svg", class: "w-20" %>
      <% end %>
    </p>
  </span>
</div>

