<div class="">
  <h1 class="text-4xl md:text-8xl lg:text-10x 2xl:text-12xl font-bold text-white">Contactez-moi</h1>
  <%= form_for Contact.new(), url: contacts_path, html: { class: "contact-form" } do |f| %>
    <div class="">
      <%= f.label :name %></br>
      <%= f.text_field  :name, required: true, class: "contact-form-text-area" %></br>

      <%= f.label :email %></br>
      <%= f.text_field :email, required: true, class: "contact-form-text-area" %></br>

      <%= f.label :message %></br>
      <%= f.text_area :message, rows: 8, cols: 40, required: true, class: "contact-form-text-area",
            placeholder: "Send me a message"%></br>
      <%= f.submit 'Send Message', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
