<!DOCTYPE html>
<html>
  <head>
    <title>Le Djen</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>
  <body class="bg-cover bg-fixed bg-#E0DED1" background="">
    <main class="container-fluid px-0">
      <%= render "home/index" %>
      <% if alert || notice %>
        <div class="text-midnight bg-transparent flex justify-center items-center">
          <span class="w-auto px-4 h-12 flex justify-center mt-2 rounded items-center bg-white">
            <%= notice %>
            <%= alert %>
          </span>
        </div>
      <% end %>
      <%= render "home/about" %>
      <%= render "home/blog" %>
      <%= render "home/contact" %>
      <%= yield %>
      <div class="container">
  <br>
  <% flash.each do |key, message| %>
    <p class="alert alert-<%= key %>"><%= message %></p>
  <% end %>
</div>
    </main>
  </body>
</html>
